NEXT_PUBLIC_AZURE_CLIENT_ID=
NEXT_PUBLIC_AZURE_AUTHORITY=
NEXT_PUBLIC_REDIRECT_URI=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
SQL_USER=
SQL_PASSWORD=
SQL_SERVER=
SQL_DATABASE=
DATABASE_URL=
